.accordion-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.accordion {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    width: 100%
}

.accordion-item {
    padding: 0
}

.accordion-header {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0
}

.accordion-header,
.accordion-link {
    color: var(--color-system-base-colors-bg-white-100-ffffff, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.accordion-header:hover {
    background: #0B4636
}

.accordion-icon {
    font-size: 20px
}

.icon path {
    background: #fff !important
}

.accordion-header:hover .accordion-icon {
    cursor: pointer
}

.accordion-content {
    animation: stretchDown .1s ease 0s 1 normal none;
    display: block;
    list-style: none;
    max-height: 244px !important;
    overflow-y: auto;
    padding-left: 12px
}

@keyframes stretchDown {
    0% {
        transform: scaleY(0.8);
        transform-origin: 100% 0
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0
    }
}

.accordion-list-item {
    height: 32px;
    padding: 8px 0
}

.accordion-link {
    height: 24px;
    text-decoration: none
}

.accordion-link:hover {
    color: #0073e6
}