.landing-page-desktop .agency {
  align-items: flex-start;
  align-self: stretch;
  display: var(--display-flex);
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

.landing-page-desktop .agency-list-group {
  align-items: flex-start;
  align-self: stretch;
  display: var(--display-flex);
  flex: 0 0 auto;
  position: relative;
}

.landing-page-desktop .agency-heading {
  align-items: flex-start;
  display: var(--display-flex);
  position: relative;
}

.landing-page-desktop .agency-heading p.heading-title {
  color: var(--color-systemneutralsneutrals-900-1a1a1a);
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.landing-page-desktop .heading-description {
  align-self: stretch;
  color: var(--color-systemneutralsneutrals-800-33333);
  letter-spacing: 0;
  position: relative;
  width: 100%;
}

.landing-page-desktop .list-row {
  align-items: flex-start;
  align-self: stretch;
  display: var(--display-flex);
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
}

.landing-page-desktop .useful-links {
  align-items: flex-start;
  display: var(--display-flex);
  position: relative;
}

.landing-page-desktop .agency-list-label {
  color: var(--color-systemneutralsneutrals-800-33333);
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.landing-page-desktop .external-links {
  align-items: flex-start;
  display: var(--display-flex);
  position: relative;
}

.landing-page-desktop .agency-footer-link {
  align-self: stretch;
  color: var(--color-systemprimaryprimary-700-016298);
  letter-spacing: 0;
  position: relative;
  text-decoration: underline;
}

.landing-page-desktop .list-group-container {
  align-items: flex-start;
  display: var(--display-flex);
  position: relative;
  width: 100%;
}

.agency-copyright {
  color: var(--color-system-base-colors-bg-white-100-ffffff, #fff);
  font-style: normal;
  text-align: center;
}

/* Agency footer */
@media only screen and (max-width: 480px) {
  .landing-page-desktop .agency {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 100%;
  }

  .landing-page-desktop .agency-icon-sm {
    display: none;
  }

  .landing-page-desktop .agency-heading {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 100%;
  }

  .landing-page-desktop .agency-heading p.heading-title {
    font-size: var(--value-18px);
    font-weight: 600;
    margin-top: -1px;
    white-space: wrap;
    width: 100%;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    flex-direction: var(--flex-direction-column);
    gap: auto;
    width: 100%;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    width: 100%;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
    margin-top: -1px;
    text-wrap: wrap;
  }

  .landing-page-desktop .list-group-container {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-32px);
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
  }

  .agency-icon {
    height: var(--value-32px);
    width: var(--value-24px);
  }

  .agency-copyright {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: var(--value-24px);
  }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
  .landing-page-desktop .agency {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 50%;
  }

  .landing-page-desktop .agency-icon-sm {
    display: none;
  }

  .landing-page-desktop .agency-heading {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 100%;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    flex-direction: var(--flex-direction-row);
    gap: auto;
    width: 100%;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    width: fit-content;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 50%;
  }

  .landing-page-desktop .external-links .agency-list-group {
    width: 100%;
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
    margin-top: -1px;
    text-wrap: wrap;
  }

  .landing-page-desktop .list-group-container {
    flex-direction: var(--flex-direction-row);
    gap: var(--value-32px);
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
  }

  .landing-page-desktop .list-group-container .agency-list-group:nth-child() {
    width: 100%;
  }

  .agency-icon {
    height: var(--value-32px);
    width: var(--value-24px);
  }

  .agency-copyright {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: var(--value-24px);
  }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
  .landing-page-desktop .agency {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 50%;
  }

  .landing-page-desktop .agency-icon-sm {
    display: none;
  }

  .landing-page-desktop .agency-heading {
    flex: 0 0 auto;
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 100%;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    flex-direction: var(--flex-direction-row);
    gap: auto;
    width: 100%;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 100%;
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    width: fit-content;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 72%;
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
    margin-top: -1px;
    text-wrap: wrap;
  }

  .landing-page-desktop .list-group-container {
    flex-direction: var(--flex-direction-row);
    gap: var(--value-32px);
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
  }

  .landing-page-desktop .list-group-container .agency-list-group:nth-child() {
    width: 100%;
  }

  .agency-icon {
    height: var(--value-32px);
    width: var(--value-24px);
  }

  .agency-copyright {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: var(--value-24px);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .landing-page-desktop .agency {
    flex-direction: var(--flex-direction-row);
    gap: var(--value-32px);
    justify-content: center;
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-12px);
  }

  .landing-page-desktop .agency-icon {
    height: 66px;
    object-fit: cover;
    position: relative;
    width: 50px;
  }

  .landing-page-desktop .agency-heading {
    flex: 0 0 auto;
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 370px;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    gap: var(--value-48px);
    width: fit-content;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-32px);
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    white-space: nowrap;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 270px;
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 125%;
    white-space: wrap;
    width: fit-content;
  }

  .landing-page-desktop .list-group-container {
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
    width: 995px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1840px) {
  .landing-page-desktop .agency {
    flex-direction: var(--flex-direction-row);
    gap: var(--value-32px);
    justify-content: center;
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-12px);
  }

  .landing-page-desktop .list-row:nth-child(2) {
    width: fit-content;
  }

  .landing-page-desktop .agency-icon {
    height: 66px;
    object-fit: cover;
    position: relative;
    width: 50px;
  }

  .landing-page-desktop .agency-heading {
    flex: 0 0 auto;
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 370px;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    gap: var(--value-24px);
    width: fill;
  }

  .landing-page-desktop .agency-list-item {
    width: 100% !important;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-32px);
    width: fit-content;
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    white-space: nowrap;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 270px;
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-18px);
    font-weight: 400;
    line-height: 27px;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page-desktop .agency .wrap {
    width: 100% !important;
    text-wrap: wrap;
  }

  .landing-page-desktop .list-group-container {
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
    gap: var(--value-24px);
    width: 995px;
  }
}

@media only screen and (min-width: 1841px) {
  .landing-page-desktop .agency {
    align-items: center;
    flex-direction: var(--flex-direction-row);
    gap: var(--value-32px);
    justify-content: center;
    width: 100%;
  }

  .landing-page-desktop .agency-list-group {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-12px);
  }

  .landing-page-desktop .agency-icon {
    height: 66px;
    object-fit: cover;
    position: relative;
    width: 50px;
  }

  .landing-page-desktop .agency-heading {
    flex: 0 0 auto;
    flex-direction: var(--flex-direction-column);
    gap: var(--value-8px);
    width: 370px;
  }

  .landing-page-desktop .heading-description {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: 150%;
  }

  .landing-page-desktop .list-row {
    gap: var(--value-48px);
    width: fit-content;
  }

  .landing-page-desktop .useful-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
  }

  .landing-page-desktop .agency-list-label {
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-20px);
    white-space: nowrap;
  }

  .landing-page-desktop .external-links {
    flex-direction: var(--flex-direction-column);
    gap: var(--value-16px);
    width: 270px;
  }

  .landing-page-desktop .agency-footer-link {
    font-size: var(--value-18px);
    font-weight: 400;
    line-height: 27px;
    white-space: wrap;
    width: fit-content;
  }

  .landing-page-desktop .list-group-container {
    justify-content: space-between;
    padding: var(--value-24px) 0 0;
    width: 995px;
  }
}
