/* Common styles for all arrow-down classes */
.arrow-down,
.arrow-down-news,
.arrow-down-more-info,
.arrow-down-careers,
.arrow-down-mcc-corner,
.arrow-down-contact,
.arrow-down-start-page {
  width: 0;
  height: 0;
  margin: 0 auto;
  position: absolute;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 24px solid var(--color-systembase-colorsbg-white-100-ffffff)
}

/* Specific classes with unique align-self */
.arrow-down-news,
.arrow-down-careers,
.arrow-down-mcc-corner,
.arrow-down-contact,
.arrow-down-start-page {
  align-self: center
}

/* Arrow positioning by breakpoint */
@media only screen and (max-width: 768px) {
  .arrow-down-start-page {
    border-top: 16px solid var(--color-systembase-colorsbg-white-100-ffffff)
  }
}

@media only screen and (min-width: 1366px) {
  .arrow-down-start-page {
    border-top: 20px solid var(--color-systembase-colorsbg-white-100-ffffff)
  }
}

@media only screen and (min-width: 1530px),
(min-width: 1920px) {
  .arrow-down-start-page {
    border-top: 16px solid var(--color-systembase-colorsbg-white-100-ffffff)
  }
}



/* Arrow sizing by breakpoint */
@media only screen and (max-width: 768px) {

  .arrow-down,
  .arrow-down-news,
  .arrow-down-more-info,
  .arrow-down-careers,
  .arrow-down-mcc-corner,
  .arrow-down-contact,
  .arrow-down-start-page {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent
  }

  .arrow-down {
    border-top-color: var(--color-systembase-colorsbg-white-100-ffffff);
    margin-top: -64px
  }

  .arrow-down-news {
    border-top-color: #0A3E30 !important;
    margin-top: -64px !important
  }

  .arrow-down-more-info {
    border-top-color: #F6F6F6 !important;
    margin-top: -64px !important
  }

  .arrow-down-careers {
    border-top-color: #fff;
    margin-top: -624px
  }

  .arrow-down-mcc-corner {
    border-top-color: #F6F6F6 !important;
    margin-top: -1610px !important
  }

  .arrow-down-contact {
    border-top-color: var(--color-systemneutralsneutrals-900-1a1a1a);
    margin-top: -64px
  }

  .arrow-down-start-page {
    border-top-color: #0A3E30;
    margin-top: -48px
  }
}

@media only screen and (min-width: 1366px) {

  .arrow-down,
  .arrow-down-news,
  .arrow-down-more-info,
  .arrow-down-careers,
  .arrow-down-mcc-corner,
  .arrow-down-contact,
  .arrow-down-start-page {
    border-left: 48px solid transparent;
    border-right: 48px solid transparent
  }

  .arrow-down {
    border-top: 48px solid var(--color-systembase-colorsbg-white-100-ffffff);
    margin-top: -96px
  }

  .arrow-down-news {
    border-top: 48px solid #0A3E30 !important;
    margin-top: -96px !important
  }

  .arrow-down-more-info {
    border-top: 48px solid #F6F6F6 !important;
    margin-top: -96px !important
  }

  .arrow-down-careers {
    border-top: 48px solid var(--color-systembase-colorsbg-white-100-ffffff);
    margin-top: -530px
  }

  .arrow-down-mcc-corner {
    border-top: 48px solid var(--color-systembase-colorsbg-light-100-f6f6f6) !important;
    margin-top: -792px !important
  }

  .arrow-down-contact {
    border-top: 48px solid var(--color-systemneutralsneutrals-900-1a1a1a);
    margin-top: -96px
  }

  .arrow-down-start-page {
    border-top: 48px solid #0A3E30;
    margin-top: -48px
  }
}

@media only screen and (min-width: 1530px),
(min-width: 1920px) {

  .arrow-down,
  .arrow-down-news,
  .arrow-down-more-info,
  .arrow-down-careers,
  .arrow-down-mcc-corner,
  .arrow-down-contact,
  .arrow-down-start-page {
    border-left: 48px solid transparent;
    border-right: 48px solid transparent
  }
  
  .arrow-down-start-page {
    border-left: 32px solid transparent;
    border-right: 32px solid transparent
  }

  .arrow-down {
    border-top: 48px solid var(--color-systembase-colorsbg-white-100-ffffff);
    margin-top: -96px
  }

  .arrow-down-news {
    border-top: 48px solid #0A3E30 !important;
    margin-top: -96px !important
  }

  .arrow-down-more-info {
    border-top: 48px solid #F6F6F6 !important;
    margin-top: -96px !important
  }

  .arrow-down-careers {
    border-top: 48px solid var(--color-systembase-colorsbg-white-100-ffffff);
    margin-top: -530px
  }

  .arrow-down-mcc-corner {
    border-top: 48px solid var(--color-systembase-colorsbg-light-100-f6f6f6) !important;
    margin-top: -792px !important
  }

  .arrow-down-contact {
    border-top: 48px solid var(--color-systemneutralsneutrals-900-1a1a1a);
    margin-top: -96px
  }

  .arrow-down-start-page {
    border-top: 32px solid #0A3E30;
    margin-top: -48px
  }
}