@media only screen and (min-width: 320px) and (max-width: 480px) {
    .breadcrumb-container {
        height: 68px;
        width: 100vw;
        display: var(--display-flex);
        align-items: center;
        justify-content: center;
        padding: var(--value-12px) 0;
        background: #f6f6f6
    }

    .breadcrumb .home-icon {
        display: none
    }

    .breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex
    }

    .link,
    .home {
        font-size: var(--value-14px);
        font-weight: 400;
        line-height: normal
    }

    .breadcrumb li {
        display: inline-flex
    }

    .home {
        color: #1a1a1a;
        text-decoration: underline;
        margin-right: var(--value-4px)
    }

    .link {
        color: #0F5721
    }

    .breadcrumb span {
        margin: 0 var(--value-4px)
    }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
    .breadcrumb-container {
        height: 68px;
        width: 100vw;
        display: var(--display-flex);
        align-items: center;
        justify-content: center;
        padding: var(--value-12px) 0;
        background: #f6f6f6
    }

    .breadcrumb .home-icon {
        display: none
    }

    .breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex
    }

    .link,
    .home {
        font-size: var(--value-14px);
        font-weight: 400;
        line-height: normal
    }

    .breadcrumb li {
        display: inline-flex
    }

    .home {
        color: #1a1a1a;
        text-decoration: underline;
        margin-right: var(--value-4px)
    }

    .link {
        color: #0F5721
    }

    .breadcrumb span {
        margin: 0 var(--value-4px)
    }
}

@media only screen and (min-width: 1530px) {
    .breadcrumb-container {
        height: 68px;
        width: 100vw;
        display: var(--display-flex);
        align-items: center;
        justify-content: center;
        padding: var(--value-12px) 0;
        background: #f6f6f6
    }

    .breadcrumb .home-icon {
        display: inline-block;
        fill: #1a1a1a;
        height: var(--value-24px) !important;
        width: var(--value-24px) !important;
        padding: 0
    }

    .breadcrumb {
        display: inline-flex;
        list-style: none;
        gap: var(--value-8px);
        padding: 0;
        margin: 0
    }

    .breadcrumb li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--value-4px)
    }

    .link,
    .home {
        font-size: var(--value-14px);
        font-weight: 400
    }

    .home {
        display: var(--display-flex);
        flex-direction: var(--flex-direction-row);
        align-items: center;
        gap: var(--value-16px);
        color: #1a1a1a;
        text-decoration: underline;
        margin-right: var(--value-12px)
    }

    .link {
        color: #0F5721
    }
}