.landing-page-desktop .CTA,
.landing-page-desktop .secondary-CTA,
.start-page-header .secondary-CTA,
#mcc-secondary-CTA {
    align-items: center;
    border-radius: var(--value-8px);
    display: var(--display-flex);
    font-style: normal;
    justify-content: center;
    line-height: 100%;
    padding: var(--value-14px) var(--value-16px)
}

.CTA,
.secondary-CTA:hover {
    color: var(--color-systembase-colorsbg-light-100-f9fafb)
}

.secondary-CTA {
    border: 1px solid var(--color-systembase-colorsbrand-green-500-0f5721);
    color: var(--color-systembase-colorsbrand-green-500-0f5721)
}

.start-page-header .secondary-CTA,
#mcc-secondary-CTA {
    border: 1px solid var(--color-systembase-colorsbg-white-100-ffffff);
    color: var(--color-systembase-colorsbg-white-100-ffffff)
}

#mcc-secondary-CTA {
    background: none
}

.landing-page-desktop .CTA:hover {
    cursor: pointer
}

.landing-page-desktop .CTA,
.landing-page-desktop .CTA:hover,
.secondary-CTA:hover {
    background: var(--color-systembase-colorsbrand-green-500-0f5721)
}

@media only screen and (max-width: 480px) {

    .landing-page-desktop .CTA,
    .landing-page-desktop .secondary-CTA,
    #mcc-secondary-CTA {
        font-size: var(--value-16px);
        font-weight: 400;
        width: 100%
    }

    .landing-page-desktop .CTA:hover {
        transform: scale(1.05)
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .landing-page-desktop .CTA,
    .landing-page-desktop .secondary-CTA,
    #mcc-secondary-CTA {
        font-size: var(--value-16px);
        font-weight: 400;
        margin: 0 auto !important;
        width: fit-content
    }

    .landing-page-desktop .CTA:hover {
        transform: scale(1.05)
    }
}

@media only screen and (min-width: 1366px),
(min-width: 1530px),
(min-width: 1920px) {

    .landing-page-desktop .CTA,
    .landing-page-desktop .secondary-CTA,
    #mcc-secondary-CTA {
        border-radius: var(--value-8px);
        font-size: var(--value-16px);
        font-weight: 400;
        line-height: var(--value-16px)
    }

    .landing-page-desktop .CTA {
        padding: var(--value-14px) var(--value-16px)
    }

    .landing-page-desktop .secondary-CTA {
        border: 1px solid var(--color-systembase-colorsbrand-green-500-0f5721)
    }

    .start-page-header .secondary-CTA {
        border: 1px solid #fff
    }

    #mcc-secondary-CTA {
        border: 1px solid var(--color-systembase-colorsbg-white-100-ffffff)
    }

    .landing-page-desktop .CTA:hover {
        transform: scale(1.05)
    }

    .secondary-CTA:hover {
        background: var(--color-systembase-colorsbrand-green-500-0f5721);
        border: 1px solid var(--color-systembase-colorsbrand-green-500-0f5721);
        font-weight: 400
    }
}