/* Hover effects for header links to display the corresponding mega-menu container */
.header-link-1:hover .mega-menu-container-1,
.header-link-2:hover .mega-menu-container-2,
.header-link-2-sm:hover .mega-menu-container-2-sm,
.header-link-3:hover .mega-menu-container-3 {
    display: block
}

.header-link-2-sm:hover .mega-menu-container-2-sm {
    display: block
}

/* Mega Menu Container */
.mega-menu {
    display: inline-flex;
    padding: var(--value-8px);
    justify-content: left;
    align-items: center;
    gap: var(--value-4px)
}

/* Common styles for mega-menu containers */
.mega-menu-container-1,
.mega-menu-container-2,
.mega-menu-container-3 {
    display: none;
    position: absolute;
    top: 80px;
    width: auto;
    flex-direction: var(--flex-direction-column);
    align-items: center;
    gap: var(--value-32px);
    padding: var(--value-24px) var(--value-24px) var(--value-12px);
    border-radius: var(--value-24px);
    background: var(--color-systembase-colorsbg-white-100-ffffff);
    box-shadow: 0 var(--value-4px) var(--value-48px) #0d0d0d24;
    z-index: 9
}

.mega-menu-container-2-sm {
    display: none;
    position: relative;
    flex-direction: var(--flex-direction-column);
    overflow-y: auto;
    max-height: 295px;
    margin: 0;
    padding: var(--value-12px);
    box-shadow: 0 var(--value-4px) var(--value-48px) #0d0d0d24
}

/* Mega Menu left/right columns (common styles) */
.mega-menu-left,
.mega-menu-right,
.mega-menu-container-2 .mega-menu-left,
.mega-menu-container-2 .mega-menu-right,
.mega-menu-container-3 .mega-menu-left,
.mega-menu-container-3 .mega-menu-right {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    align-items: flex-start;
    gap: var(--value-12px)
}

/* Specific widths for left and right mega-menu containers */
.mega-menu-container-2 .mega-menu-left,
.mega-menu-container-2 .mega-menu-right {
    width: 256px
}

.mega-menu-container-3 .mega-menu-left {
    width: 180px
}

.mega-menu-container-3 .mega-menu-right {
    width: 166px
}

.mega-menu-container-2-sm {
    width: 100%
}

/* Heading Styles */
.mega-menu-heading {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    align-items: flex-start;
    gap: var(--value-12px);
    align-self: stretch;
    margin-bottom: var(--value-32px)
}

.mega-menu-heading .mega-menu-title,
.mega-menu .mega-menu-description {
    align-self: stretch;
    margin: 0
}

/* Title and Description Styles */
.mega-menu-heading .mega-menu-title,
.mega-menu .mega-menu-description {
    color: var(--color-system-neutrals-neutrals-9001-a-1-a-1-a, var(--color-systemneutralsneutrals-900-1a1a1a))
}

.mega-menu-sm .mega-menu-heading .mega-menu-title,
.mega-menu-sm .mega-menu-description {
    color: var(--color-system-base-colors-bg-white-100-ffffff)
}

.mega-menu-heading .mega-menu-title {
    font-size: var(--value-18px);
    font-weight: 700;
    line-height: var(--value-18px)
}

.mega-menu .mega-menu-description {
    font-size: var(--value-14px);
    font-weight: 400;
    line-height: var(--value-14px)
}

/* Label styles */
.mega-menu-label {
    color: var(--color-systembase-colorsbrand-green-500-0f5721);
    font-size: var(--value-14px);
    font-weight: 500;
    line-height: var(--value-16px)
}

/* Divider */
#mega-menu-divider {
    width: 100%;
    height: 1px !important;
    color: var(--color-systemneutralsneutrals-200-f0f0f0) !important;
    margin: 0
}

/* Content layout for mega-menu */
.mega-menu-content {
    display: var(--display-flex);
    align-items: flex-start;
    gap: var(--value-48px)
}

/* Mega Menu Groups */
.mega-menu-group-1,
.mega-menu-left-1 {
    display: var(--display-flex);
    align-items: flex-start;
    gap: var(--value-32px);
    align-self: stretch
}

.mega-menu-left-2 {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    align-items: flex-start;
    flex: 1 0 0
}

/* List item padding */
.mega-menu-list-item {
    padding: var(--value-8px)
}

/* Common styles for mega-menu link */
.mega-menu-link {
    color: var(--color-system-neutrals-neutrals-9001-a-1-a-1-a, var(--color-systemneutralsneutrals-900-1a1a1a));
    font-size: var(--value-16px);
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize
}

/* Hover effect for list item */
.mega-menu-list-item:hover {
    box-sizing: border-box;
    background: var(--color-systembase-colorsbg-light-100-f6f6f6);
    border-radius: var(--value-8px)
}

/* Hover effect for mega-menu link */
.mega-menu-list-item:hover .mega-menu-link {
    color: var(--color-systembase-colorsbrand-green-500-0f5721)
}