.slideshow-container,
.slideshow-bg,
.slideshow-img,
.prev,
.next {
    border-radius: 12px
}

.slideshow-container {
    background-position: center
}

.slideshow-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    padding: 16px;
    background: #0F5721;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
}

.slideshow-content {
    display: flex;
    flex-direction: row;
    align-items: center
}

.slider-dots {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px 8px;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 12px
}

.slider-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #0f57213d
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    transition: .6s ease;
    user-select: none;
    z-index: 3;
    background-color: #00000014
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .prev,
    .next {
        width: 40px;
        height: 40px;
        color: #fff;
        font-weight: 700;
        font-size: 18px
    }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
    .prev,
    .next {
        width: 40px;
        height: 40px;
        color: #fff;
        font-weight: 700;
        font-size: 18px
    }
}

@media only screen and (min-width: 781px) and (max-width: 1366px) {
    .prev,
    .next {
        width: 44px;
        height: 44px;
        color: #fff;
        font-weight: 700;
        font-size: 18px
    }}

@media only screen and (min-width: 1367px) and (max-width: 2440px) {
    .prev,
    .next {
        width: 44px;
        height: 44px;
        color: #fff;
        font-weight: 700;
        font-size: 18px
    }}

.slideshow-content .prev {
    left: 0
}

.slideshow-content .next {
    right: 0
}

.prev:hover,
.next:hover {
    background-color: #0006
}

.active,
.slider-dot:hover {
    background-color: #0F5721
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .slideshow-img-container {
        width: 100%;
        height: auto;
        overflow: hidden
    }

    .slideshow-img {
        width: 100%;
        height: auto
    }

    .container {
        height: 480px
    }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
    .slideshow-img-container {
        width: 72vw;
        height: auto;
        overflow: hidden
    }

    .slideshow-img {
        width: 100%;
        height: auto
    }

    .container {
        padding-top: 144px !important;
        height: auto
    }
}

@media only screen and (min-width: 781px) and (max-width: 1366px) {
    .slideshow-img-container {
        min-width: 840px;
        max-width: 1280px;
        height: fit-content;
        overflow: hidden
    }

    .container {
        height: auto
    }
}

@media only screen and (min-width: 1367px) and (max-width: 2440px) {
    .slideshow-img-container {
        width: 1280px;
        height: 620px;
        overflow: hidden
    }

    .container {
        height: auto
    }
}

.slideshow-img {
    position: relative;
    object-fit: fill;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    animation: fadeIn 1.15s forwards
}

@keyframes fadeIn {
    to {
        opacity: 1
    }
}

.slideshow {
    visibility: hidden
}