.slideshow-container {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.slideshow-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    padding: 16px;
    border-radius: 12px;
    background: #0F5721;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.slideshow-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-dots {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px 8px;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 12px;
}

.slider-dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: rgba(15, 87, 33, 0.24);
}

/* Next & previous buttons */
.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 44px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 3;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

/* Position the "next button" to the right */
.slideshow-content .prev {
    left: 0;
}

/* Position the "next button" to the right */
.slideshow-content .next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.active,
.slider-dot:hover {
    background-color: #0F5721;
}

.slideshow-img-container {
    width: 1280px;
    height: 620px;
    overflow: hidden;
}

.slideshow-img {
    position: relative;
    object-fit: fill;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    opacity: 0; /* Start as invisible */
    animation: fadeIn 1.15s forwards; /* Trigger the fadeIn animation */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* End state: fully visible */
    }
}

.slideshow {
    visibility: hidden;
}