/* Icon container styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text (initially hidden) */
.tooltip-text {
  visibility: hidden;
  background: var(--color-system-base-colors-bg-neutral-f-7-f-7-f-7, #ffffff);
  color: var(--color-system-neutrals-neutrals-9001-a-1-a-1-a, #1a1a1a);
  text-align: left;
  line-height: 150% !important;

  border-radius: 8px;
  padding: 12px;
  position: absolute;
  z-index: 999 !important;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: var(--color-system-base-colors-bg-neutral-f-7-f-7-f-7, #ffffff) transparent transparent transparent;
}

/* Show tooltip when hovering over the icon */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}





/* Tooltip styling by breakpoint */
/* Tooltip-sm */
@media only screen and (max-width: 768px) {

  /* Tooltip text (initially hidden) */
  .tooltip-text {
    visibility: hidden;
    width: 343px;
    font-size: 14px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    margin-left: -12px;
    border-width: 12px;
  }

  /* Show tooltip when hovering over the icon */
  .tooltip:hover .tooltip-text {
    box-shadow: 0 0 16px rgba(13, 13, 13, 0.08);
  }
}

/* Tooltip-md */
@media only screen and (min-width: 1366px) {

  /* Tooltip text (initially hidden) */
  .tooltip-text {
    visibility: hidden;
    width: 256px;
    font-size: 14px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    content: "";
    position: absolute;
    margin-left: -16px;
    border-width: 16px;
    border-style: solid;
    border-color: var(--color-system-base-colors-bg-neutral-f-7-f-7-f-7, #ffffff) transparent transparent transparent;
  }

  /* Show tooltip when hovering over the icon */
  .tooltip:hover .tooltip-text {
    box-shadow: 0 0 16px rgba(13, 13, 13, 0.08);
  }
}

/* Tooltip-lg */
@media only screen and (min-width: 1530px),
(min-width: 1920px) {

  /* Tooltip text (initially hidden) */
  .tooltip-text {
    visibility: hidden;
    width: 256px;
    font-size: 14px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    margin-left: -16px;
    border-width: 16px;
  }

  /* Show tooltip when hovering over the icon */
  .tooltip:hover .tooltip-text {
    box-shadow: 0 0 16px rgba(13, 13, 13, 0.08);
  }
}



/* Tooltip positioning by breakpoint */
/* Tooltip-sm */
@media only screen and (max-width: 768px) {
  .tooltip-text {
    bottom: 180%;
    left: -200%;
    margin-left: -272px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    top: 100%;
    left: 90%;
  }
}

/* Tooltip-md */
@media only screen and (min-width: 1366px) {

  /* Icon container styles */
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Tooltip text (initially hidden) */
  .tooltip-text {
    bottom: 214%;
    left: 50%;
    margin-left: -128px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    top: 100%;
    left: 50%;
  }
}

/* Tooltip-lg */
@media only screen and (min-width: 1530px),
(min-width: 1920px) {

  /* Icon container styles */
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Tooltip text (initially hidden) */
  .tooltip-text {
    bottom: 214%;
    left: 50%;
    margin-left: -128px;
  }

  /* Tooltip arrow */
  .tooltip-text::after {
    top: 100%;
    left: 50%;
  }
}