:root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #DFE9EB
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #397524
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background-color: #B8C0C2
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: #62A34B
}